In [1]:
import pandas as pd 
data=pd.read_csv('c:/data/insurance/insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [2]:
data.corr()['charges'].sort_values()

children    0.067998
bmi         0.198341
age         0.299008
charges     1.000000
Name: charges, dtype: float64

In [3]:
data2=pd.read_csv('c:/data/insurance/insurance2.csv')
data2

,age,sex,bmi,children,smoker,southwest,southeast,northeast,northwest,charges
0,19,0,27.900,0,1,1,0,0,0,16884.92400
1,18,1,33.770,1,0,0,1,0,0,1725.55230
2,28,1,33.000,3,0,0,1,0,0,4449.46200
3,33,1,22.705,0,0,0,0,0,1,21984.47061
4,32,1,28.880,0,0,0,0,0,1,3866.85520
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,0,0,0,1,10600.54830
1334,18,0,31.920,0,0,0,0,1,0,2205.98080
1335,18,0,36.850,0,0,0,1,0,0,1629.83350
1336,21,0,25.800,0,0,1,0,0,0,2007.94500
1337,61,0,29.070,0,1,0,0,0,1,29141.36030

In [4]:
data2.corr()['charges'].sort_values()

southwest   -0.043210
northwest   -0.039905
northeast    0.006349
sex          0.057292
children     0.067998
southeast    0.073982
bmi          0.198341
age          0.299008
smoker       0.787251
charges      1.000000
Name: charges, dtype: float64

In [13]:
data2.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'southwest', 'southeast',
       'northeast', 'northwest', 'charges'],
      dtype='object')

In [14]:
X=data2[data2.columns[:-1]]
y=data2['charges']

In [15]:
import statsmodels.api as sm 
model=sm.OLS(y,X) 
result=model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.8
Date:                Thu, 09 Mar 2023   Prob (F-statistic):               0.00
Time:                        13:00:11   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age          256.8564     11.899     21.587      0.000     233.514     280.199
sex         -131.3144    332.945     -0.394      0.693    -784.470     521.842
bmi          339.1935     28.599     11.860      0.000     283.088     395.298
children     475.5005    137.804      3.451      0.001     205.163     745.838
smoker      2.385e+04    413.153     57.723      0.000     2.3e+04    2.47e+04
southwest   -1.29e+04   1020.964    -12.634      0.000   -1.49e+04   -1.09e+04
southeast  -1.297e+04   1079.158    -12.022      0.000   -1.51e+04   -1.09e+04
northeast  -1.194e+04    987.819    -12.086      0.000   -1.39e+04      -1e+04
northwest  -1.229e+04    988.196    -12.438      0.000   -1.42e+04   -1.04e+04
==============================================================================
Omnibus:                      300.366   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              718.887
Skew:                           1.211   Prob(JB):                    7.86e-157
Kurtosis:                       5.651   Cond. No.                         605.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [9]:
X.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'southwest', 'southeast',
       'northeast', 'northwest'],
      dtype='object')

In [11]:
X=X[['age', 'bmi', 'children', 'smoker', 'southwest', 'southeast',
       'northeast', 'northwest']]
model=sm.OLS(y,X) 
result=model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.750
Method:                 Least Squares   F-statistic:                     572.7
Date:                Thu, 09 Mar 2023   Prob (F-statistic):               0.00
Time:                        12:52:06   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1330   BIC:                         2.715e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age          256.9736     11.891     21.610      0.000     233.646     280.301
bmi          338.6646     28.559     11.858      0.000     282.639     394.690
children     474.5665    137.740      3.445      0.001     204.355     744.778
smoker      2.384e+04    411.856     57.875      0.000     2.3e+04    2.46e+04
southwest  -1.295e+04   1012.403    -12.791      0.000   -1.49e+04    -1.1e+04
southeast  -1.302e+04   1071.021    -12.161      0.000   -1.51e+04   -1.09e+04
northeast  -1.199e+04    978.762    -12.250      0.000   -1.39e+04   -1.01e+04
northwest  -1.234e+04    979.405    -12.602      0.000   -1.43e+04   -1.04e+04
==============================================================================
Omnibus:                      300.735   Durbin-Watson:                   2.089
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              720.516
Skew:                           1.212   Prob(JB):                    3.48e-157
Kurtosis:                       5.654   Cond. No.                         600.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""